.DS_Store

# Xcode user data
xcuserdata/
*.xcuserstate
*.xccheckout
*.xcscmblueprint

# Build products
DerivedData/
.build/

# Swift Package Manager
.swiftpm/

# Node / Remote Workers
node_modules/
.dev.vars
