REMOTE_PRIMARY_BASE_URL =
REMOTE_FALLBACK_BASE_URL =
REMOTE_TRANSLATION_BASE_URL =
REMOTE_IP_REGION_URL =

#include? "Local.xcconfig"

INFOPLIST_KEY_RemotePrimaryBaseURL = $(REMOTE_PRIMARY_BASE_URL)
INFOPLIST_KEY_RemoteFallbackBaseURL = $(REMOTE_FALLBACK_BASE_URL)
INFOPLIST_KEY_RemoteTranslationBaseURL = $(REMOTE_TRANSLATION_BASE_URL)
INFOPLIST_KEY_RemoteIPRegionURL = $(REMOTE_IP_REGION_URL)
